.label {
    display: flex;
    flex-direction: column;
    color: #999;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 9px;
    margin-bottom: 8px;

}
.input {
    border: 2px solid #999;
    border-radius: 8px;
    padding: 0 8px;
    height: 37px;
    width: 280px;
    box-sizing: border-box;
    &:active, &:hover {
        border-color: #3f71ef;
    }
}