.link {
    color: #3369F3;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    cursor: pointer;
    &:hover {
        color: #3f71ef;
        text-decoration: underline;
    }
}
